In [ ]:
def multimap(pairs) -> dict:
    "Given (key, val) pairs, make a dict of {key: [val,...]}."
    result = defaultdict(list)
    for key, val in pairs:
        result[key].append(val)
    return result

In [ ]:
from collections import defaultdict, deque, Counter
result = defaultdict(list)
print(result)
links =  {('O', 'Z'):  71, ('O', 'S'): 151, ('A', 'Z'): 75, ('A', 'S'): 140, ('A', 'T'): 118, ('L', 'T'): 111, ('L', 'M'):  70, ('D', 'M'): 75, ('C', 'D'): 120, ('C', 'R'): 146, ('C', 'P'): 138, ('R', 'S'):  80, ('F', 'S'): 99, ('B', 'F'): 211, ('B', 'P'): 101, ('B', 'G'):  90, ('B', 'U'):  85, ('H', 'U'): 98, ('E', 'H'):  86, ('U', 'V'): 142, ('I', 'V'):  92, ('I', 'N'):  87, ('P', 'R'): 97}
multimap(links)

defaultdict(<class 'list'>, {})

defaultdict(list,
            {'O': ['Z', 'S'],
             'A': ['Z', 'S', 'T'],
             'L': ['T', 'M'],
             'D': ['M'],
             'C': ['D', 'R', 'P'],
             'R': ['S'],
             'F': ['S'],
             'B': ['F', 'P', 'G', 'U'],
             'H': ['U'],
             'E': ['H'],
             'U': ['V'],
             'I': ['V', 'N'],
             'P': ['R']})

In [ ]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

x = zip(a, b)
for e in x:
  print(e)

('John', 'Jenny')
('Charles', 'Christy')
('Mike', 'Monica')

In [ ]:
A = [1,2,3,4]
B = [5,6,7,8]
sum(abs(a - b)**2 for (a, b) in zip(A, B)) ** 0.5

s= (1-5)**2 + (2-6)**2 + (3-7)**2 + (4-8)**2
print(s)

64

In [ ]:
pankace_stack = (2,1,4,6,3,5)
sorted(pankace_stack)

[1, 2, 3, 4, 5, 6]

In [ ]:
x = range(2, len(pankace_stack) + 1)
print(x)

range(2, 7)

In [ ]:
i=3
print(pankace_stack[:i])
print(pankace_stack[:i][::-1])
print(pankace_stack[i:])

(2, 1, 4)
(4, 1, 2)
(6, 3, 5)

In [ ]:

print(sum(abs(pankace_stack[i] - pankace_stack[i - 1]) > 1 for i in range(1, len(pankace_stack))))

#the first operation can be extended as follows:

count = 0
for i in range(1, len(pankace_stack)):
  diff = abs(pankace_stack[i] - pankace_stack[i-1])
  if diff > 1:
    count+=1

print(count)

4
1
3
2
3
2
4